<div class="container">
<div class="row">
  <div class="col-md-2"><p></p></div>
  <div class="col-md-4">
    Sie erreichen uns jederzeit unter:</p>

    <h3>E-Mail:</h3>
    <p>kontakt@poken-business.de</p>
  </div>
  <div class="col-md-4">
      <%= image_tag "contact.jpg", :class => 'img-thumbnail', :style => 'margin-top:100px;' %>
  </div>
  <div class="col-md-2"><p></p></div>
</div>
</div>
