<div class="container" >
<div class="row">
  <div class="col-md-2"><p></p></div>
  <div class="col-md-4">

    <h1>Hemdenpilot</h3>

    <p>Es handelt sich um ein Einzelunternehmen.</p>

    <h3>USt.-IdNr.:</h3>
    <p>DE 815106237</p>

    <h3>Adresse</h3>
    <p>hemdenpilot.de</p>
    <p>Oderstrasse 3</p>
    <p>24539 Neumünster</p>
    <p>Deutschland</p>

    <p>Telefon: +49 3212 5050505</p>
    <p>Telefax: +49 3212 5050505</p>

    <h3>E-Mail:</h3>
    <p>kontakt@hemdenpilot.de</p>

    <h3>Inhaber</h3>
    <p>Kai Först</p>

    <h3>Kontoverbindung</h3>
    <p>Sparkasse Südholstein</p>
    <p>BLZ 230 510 30</p>
    <p>Kontonummer 113118160</p>
  </div>
  <div class="col-md-4">
      <%= image_tag "contact.jpg", :class => 'img-thumbnail', :style => 'margin-top:100px;' %>
  </div>
  <div class="col-md-2"><p></p></div>
</div>
</div>
