<div class="container">
  <div class="row">
    <div class="col-md-1"><p></p></div>
    <div class="col-md-10">

      <h1 style=>Die verschiedenen Hemdenhersteller in der Übersicht</h1>

      <%= render 'about_shirts/labels/eterna' %>

      <%= render 'about_shirts/labels/olymp' %>

      <%= render 'about_shirts/labels/seidensticker' %>

      <%= render 'about_shirts/labels/jacquesbritt' %>

    </div>
    <div class="col-md-1"><p></p></div>
  </div>
</div>

