<div class="jumbotron">
  <div class="container">
    <h1>Krawattenknoten knoten?</h1>
    <p>Wolltest du auch schon immer mal wissen, wie man eine Krawatte richtig bindet? Dann lies aufmerksam, wir erklären es dir.</p>
    <p>Zum einfachen Knoten in 5 Schritten:</br>
    Der einfache Knoten ist der wie der Name schon sagt ein sehr einfacher Krawattenknoten und dazu auch noch der am meisten verwandte. Er funktionert mit sehr vielen Krawatten und so gut wie allen Kragenarten.
    Du brauchst: Eine Krawatte und optimalerweise ein Hemd, deine Hände und ein paar Minuten Zeit.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Der einfache Knoten</h2>
      <p><b>Vorbereitung:</b></br>
      Stelle den Kragen deines Hemdes auf, knöpf den obersten Knopf zu und leg die Krawatte um deinen Hals. Je nach Körpergröße platzierst du das schmale Ende etwas anders. Bist du mittelgroß, kommt es auf die Höhe der Taille. Bist du groß, etwas weiter oberhalb der Taille. Hast du einen kurzen Oberkörper empfehlen wir dir eher den doppelten Knoten.</p>
      <p><b>Schritt Nummer Eins:</b></br>
      Lege das breite Ende der Krawatte direkt unterhalb des Kragens über das schmale.</p>
      <p><b>Schritt Nummer Zwei:</b></br>
      Dann das breite hinter das schmale Ende.</p>
      <p><b>Schritt Nummer Drei:</b></br>
      Und nun führst du das breite Ende um das schmale herum.</p>
      <p><b>Schritt Nummer Vier:</b></br>
      Zieh dann das breite Ende hoch in Richtung Kinn, steck den Finger durch die Schlaufe die du gemacht hast und das breite Ende von oben durch, während du den Finger wegnimmst.</p>
      <p><b>Schritt Nummer Fünf:</b></br>
      Halte das schmale Ende fest und zieh vorsichtig am breiten Ende um die Schlinge zuzuziehen. Dann schiebe den Knoten nach oben zum ersten Knopf des Hemdes.</p>
      <p>Bist du fertig, sollte das schmale Ende nicht mehr zu sehen sein und das breite Ende auf Höhe deines Gürtels enden.</p>
    </div>
    <div class="col-md-4">
      <h2>Der doppelte Knoten in 1-2-3-4:</h2>
      <p>Der doppelte Knoten leitet sich aus dem einfachen ab. Der Unterschied zum einfachen Knoten ist ein nur  weiterer Überschlag. Dabei wird das breite Ende der Krawatte zweimal über das schmale Ende geschlagen. Der doppelte Knoten ist für die meisten Hemden sowie Krawattenarten geeignet.
      <p><b>Vorbereitung:</b></br>
      Die Vorbereitung für den doppelten Knoten ist der für den einfachen Knoten (siehe oben) sehr ähnlich. Und entscheidet sich nur dadurch, dass das breite Ende der Krawatte weiter unten hängt.</p>
      <p><b>Schritt Nummer Eins:</b></br>
      Unser erster Schritt beinhaltet die Schritte Nummer 1-3 des einfachen Knoten (siehe oben).</p>
      <p><b>Schritt Nummer Zwei:</b></br>
      Schlage das breite Ende ein zweites Mal um das schmale Ende.</p>
      <p><b>Schritt Nummer Drei:</b></br>
      Ziehe nun das breite Ende hinter der Krawatte nach oben und schiebe es durch die Schlaufe, die durch das doppelte Umschlagen entstanden ist.</p>
      <p><b>Schritt Nummer Vier:</b></br>
      Und jetzt musst du nur noch den Knoten gerade rücken, ihn etwas nach oben schieben und mittig platzieren.
      Das wars!</p>
    </div>
    <div class="col-md-4">
      <h2>Der kleine Knoten in 4 Schritten:</h2>
      <p>Wie der Name schon sagt ist der “kleine Knoten” ein kleiner Knoten. Verwendet wird er vor allem bei Krawatten aus dickem Stoff und bei engem Hemdenkrägen. Zu Hemden mit langen oder breiten Krägen sollte man diesen Knoten eher nicht kombinieren. Das Positivste am kleinen Knoten ist, dass er der mit Abstand am leichtesten zu bindende Krawattenknoten ist.</p>
      <p><b>Vorbereitung:</b></br>
      Lege die Krawatte um deinen Hals und drehe dann das breite Ende um 180 Grad. Wenn du die Drehung nicht möchtest, kannst du die Krawatte auch verkehrt herum um den Hals legen. Das breite Ende sollte länger sein als das schmale.</p>
      <p><b>Schritt Nummer Eins:</b></br>
      Lege das breite Ende direkt unter dem Kragen unter das schmale Ende.</p>
      <p><b>Schritt Nummer Zwei:</b></br>
      Jetzt führst du das breite über das schmale Ende.</p>
      <p><b>Schritt Nummer Drei:</b></br>
      Halte dann die entstandene Schlinge mit einer Hand fest und führe das breite Ende hinter der Krawatte nach oben. Streiche das breite Ende glatt und schiebe es in die Schlinge.</p>
      <p><b>Schritt Nummer Vier:</b></br>
      Zentriere den Knoten und schiebe ihn dann noch nach oben.
      Richtig sitzt er wenn, der oberste Knopf deines Hemdes und das schmale Krawattenende vollkommen verkehrt sind.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Der Windsorknoten - in 5 Schritten:</h2>
      <p>Der Windsorknoten, dass ist der Krawattenknoten für besondere Tage. Seinen Namen verdankt er dem englischen Herzog von Windsor. Der den Knoten populär gemacht hat. Da der Windsorknoten deutlich größer als der einfache oder der doppelte Knoten ist, solltest du ihn besser nur zu einem breiten Kragen tragen wie zbsp. einem italienischen oder auch einem Windsorkragen. Der Windsorknoten ist etwas schwieriger zu binden. Er sitzt richtig, wenn er sich zwischen den beiden Seiten des Kragens befindet und den obersten Hemdenknopf komplett bedeckt.</p>
      <p><b>Vorbereitung:</b></br>
      Knöpfe dein Hemd bis oben zu, stell den Hemdenkragen auf und lege deine Krawatte um deinen Hals. Bevor du mit dem Knoten beginnst, muss das breite Ende sehr viel weiter unten hängen als das schmale Ende.</p>
      <p><b>Schritt Nummer Eins:</b></br>
      Als erstes lege mal das breite Ende der Krawatte über das schmale. Halte dann beide Enden fest und bilde auf der Seite eine Schlaufe, indem du das breite Ende unter der Krawatte hervorziehst und nach vorne schlägst.</p>
      <p><b>Schritt Nummer Zwei:</b></br>
      Führe jetzt das breite Ende auf die andere Seite des schmalen Endes und bilde noch eine Schlaufe, indem du das breite Ende über die Krawatte legst und nach hinten umschlägst.</p>
      <p><b>Schritt Nummer Drei:</b></br>
      Lege das breite Ende horizontal über das schmale Ende.</p>
      <p><b>Schritt Nummer Vier:</b></br>
      Führe das breite Ende hinter der Krawatte nach oben, streiche es glatt und führe es durch die entstandene Schlaufe.</p>
      <p><b>Schritt Nummer Fünf:</b></br>
      Als Letztes hälst du das schmale Ende fest, ziehst vorsichtig am breiten Ende um den Knoten festzuziehen, schiebst ihn nach oben und platzierst ihn mittig.</p>
    </div>
    <div class="col-md-6">
      <h2>Der halbe Windsorknoten in 1-2-3-4:</h2>
      <p>Der halbe Windsor ist relativ ähnlich wie der normale Windsorknoten, allerdings ist er von der Größe her kleiner und auch leichter zu binden. Er eignet sich gut für schmale Krawatten und nicht zu dicke Stoffe. Der halbe Windsor wirkt relativ elegant und passt daher gut zu Hemden mit klassischem und offenem Kragen.
      <p><b>Vorbereitung:</b></br>
      Lege die Krawatte um deinen Hals. Wenn du mittelgroß bist, beginne mit dem schmalen Ende oberhalb der Gürtellinie.</p>
      <p><b>Schritt Nummer Eins:</b></br>
      Lege als Erstes das breite Ende deiner Krawatte über das schmale Ende. Halte dann beide Enden fest und bilde eine Schlaufe auf der Seite, indem du das breite Ende unter der Krawatte nach oben ziehst und nach vorne klappst.</p>
      <p><b>Schritt Nummer Zwei:</b></br>
      Führe jetzt das breite horizontal zuerst hinter und dann vor das schmale Ende.</p>
      <p><b>Schritt Nummer Drei:</b></br>
      Danach führe das breite Ende hinter der Krawatte nach oben und schiebe es in die vorher entstandene Schlaufe.</p>
      <p><b>Schritt Nummer Vier:</b></br>
      Halte nun das schmale Ende fest und ziehe vorsichtig am breiten Ende, sodass du den Knoten formen kannst. Schiebe ihn nach oben und  zentriere ihn.</p>
      <p>Er sitzt richtig wenn das schmale Ende der Krawatte am Ende nicht mehr sichtbar ist. Und die Krawattenspitze sich auf Höhe des Gürtels befindet.</p>
    </div>
  </div>
</div>


















