<h3 class="pull-left" style="margin-top:50px;">Eterna</h3>
<%= image_tag "eterna.png", :style => "height:70px; margin-top:50px;", :class => 'pull-right'%>

<table class="table">
  <tr>
    <td>Standort des Unternehmens:</td>
    <td>Passau</td>
  </tr>
  <tr>
    <td>Gründungsjahr:</td>
    <td>1927 Zweigniederlassung in Passau</br>
        1993 Einzug in den derzeitigen Firmensitz im Passauer Gewerbegebiet Sperrwies.</td>
  </tr>
  <tr>
    <td>Unternehmensphilosophie:</td>
    <td>Es werden laut Unternehmen, ausschließlich hochwertige Stoffe - bei bester Verarbeitungsqualität verwendet. Es wird außerdem nachhaltig verantwortungsbewusst unternehmerisch gehandelt. Und es besteht ein ökologisch vorbildliches Produktionskonzept. Seit dem Jahr 2000 ist Eterna OEKO-TEX Standard 100 plus zertifiziert. Eterna gewährleistet Nachhaltigkeit in der Prozesskette und im Produktportfolio.</td>
  </tr>
  <tr>
    <td>Produktionsort:</td>
    <td>Der Großteil der Produktion wird in Eterna-eigenen Fertigungsbetrieb in der Slowakei abgewickelt. Die Fertigung der Endprodukte findet ausschließlich in Europa statt.</td>
  </tr>
</table>
