<h3 class="pull-left" style="margin-top:50px;">Jacques Britt</h3>
<%= image_tag "Jacquesbritt.png", :style => "height:70px; margin-top:50px;", :class => 'pull-right'%>


<table class="table">
  <tr>
    <td>Standort des Unternehmens:</td>
    <td>Mönchengladbach</td>
  </tr>
  <tr>
    <td>Gründungsjahr:</td>
    <td>1969</td>
  </tr>
  <tr>
    <td>Unternehmensphilosophie:</td>
    <td>Ausgesuchte Materialien, erstklassige Verarbeitung und ein ausgewogenes Preis/Leistungsverhältnis das kann man bei Jacques Britt erwarten. Der Hersteller versichert alles zu tun um den besten Tragekomfort zu bieten. Ein konsequenter Wille zur Weiterentwicklung und Innovationen gehören auch dazu. Ganz besonders viel Aufmerksamkeit widmet der Hemdenhersteller seinen Kunden. Jeder Kunde soll sein ganz persönliches Lieblingshemd beim Hersteller finden, das ist der Anspruch.</td>
  </tr>
  <tr>
    <td>Produktionsort:</td>
    <td></td>
  </tr>
</table>
