<h3 class="pull-left" style="margin-top:50px;">OLYMP</h3>
<%= image_tag "Olymp.png", :style => "height:70px; margin-top:50px;", :class => 'pull-right'%>


<table class="table">
  <tr>
    <td>Standort des Unternehmens:</td>
    <td>Bietigheim-Bissingen, 20 km nordwestlich von Stuttgart</td>
  </tr>
  <tr>
    <td>Gründungsjahr:</td>
    <td>1951 durch Eugen Bezner</td>
  </tr>
  <tr>
    <td>Unternehmensphilosophie:</td>
    <td>Sich im persönlichen Olymp befinden und sprichwörtlich auf einem Gipfel stehen, für diese Augenblicke sind OLYMP Hemden gemacht so die Philosophie. OLYMP steht auch für kompromisslose Qualität bei Materialien und Verarbeitung, Trage und Pflegevorteile und ein gutes Preis/Leistungsverhältnis. Und die modische Aussage darf natürlich auch nicht fehlen. Außerdem ist sich OLYMP der sozialen Verantwortung  gegenüber seinen Mitarbeitern und Partnerfirmen im Ausland überaus bewusst. Höchstes Bestreben der Geschäftsführung ist es, dass OLYMP-Produkte nicht nur humanökologisch einwandfrei und qualitativ hochwertig sind, sondern auch in den Partnerbetrieben nach genau festgelegten Sozialstandards hergestellt werden. </td>
  </tr>
  <tr>
    <td>Produktionsort:</td>
    <td>Die Produktion der OLYMP Hemden übernehmen seit vielen Jahren Produktionspartner in Asien und Südosteuropa.</td>
  </tr>
</table>
