<h3 class="pull-left" style="margin-top:50px;">Seidensticker</h3>
<%= image_tag "Seidensticker.png", :style => "height:70px; margin-top:50px;", :class => 'pull-right'%>


<table class="table">
  <tr>
    <td>Standort des Unternehmens:</td>
    <td>Bielefeld</td>
  </tr>
  <tr>
    <td>Gründungsjahr:</td>
    <td>1919</td>
  </tr>
  <tr>
    <td>Unternehmensphilosophie:</td>
    <td>Die Seidensticker-philosophie besteht schlicht aus fünf Wörtern: Qualität, Beständigkeit, Zuverlässigkeit, Innovation und Tradition.</td>
  </tr>
  <tr>
    <td>Produktionsort:</td>
    <td>Produziert wird beispielsweise in Vietnam und Hong Kong. Seidensticker ist weltweit in rund 80 Ländern vertreten zum einen mit Verkaufs aber auch mit Produktionsstätten.</td>
  </tr>
</table>
