<h3 class="pull-left" style="margin-top:50px;">Van Laack</h3>
<%= image_tag "Van Laack.png", :style => "height:70px; margin-top:50px;", :class => 'pull-right'%>


<table class="table">
  <tr>
    <td>Standort des Unternehmens:</td>
    <td>Mönchengladbach</td>
  </tr>
  <tr>
    <td>Gründungsjahr:</td>
    <td>1881</td>
  </tr>
  <tr>
    <td>Unternehmensphilosophie:</td>
    <td>Bei Van Laack ist die Herstellung jedes Hemdes der Perfektion verpflichtet. Van Laack Hemden zeichnen sich durch innovative Lösungen und moderne Umsetzungen aus.</td>
  </tr>
  <tr>
    <td>Produktionsort:</td>
    <td></td>
  </tr>
</table>
