<div class="container marketing">
  <hr class="featurette-divider">

  <div class="well well-lg" id="hemdenschnitt">
    <div class="featurette">
      <%= image_tag "front_marketing6.jpg", :class => 'featurette-image pull-right img-circle', :style => 'width:400px; margin:20px;' %>
      <h2 class="featurette-heading">Hemdenschnitt <span class="muted"> - dein Style.</span></h2>
      <p class="lead">Ein Hemdenschnitt bezeichnet die Form des Hemdes, die abh&auml;ngig von der jeweiligen K&ouml;rperform ist. Nat&uuml;rlich unterscheiden sich die Hemden einer Schnittform durch die Gr&ouml;&szlig;en.</p>
    </div>
    <div style="font-size:110%; margin-top:20px;">
      <p>Im Allgemeinen wird zwischen drei verschiedenen Schnitten unterschieden:</p>
      <p><b>Comfort:</b> Bezeichnet eine angenehme Passform, die durch einen lockeren und etwas weiteren Schnitt dem R&uuml;cken Platz gibt. Dieser Schnitt eignet sich vor allem f&uuml;r M&auml;nner, die Wert auf Bewegungsfreiheit legen, einen breiteren R&uuml;cken haben, oder einfach etwas Legeres wollen. 
      Normal/Tailored: Dieser Schnitt hat eher die klassische Hemdenpassform. Dennoch ist er bereits  etwas enger geschnitten als das Comfort- Hemd und dient gut als Alltagshemd.</p>
      <p><b>Slim/Fitted:</b>  Slim- Hemden haben einen etwas schlankeren, taillierten Schnitt, sind jedoch nicht beengend. Diese Form entsteht, weil das Hemd in der R&uuml;ckenpartie n&auml;he Taille durch Abn&auml;her zusammengezogen wird. Die Passform wirkt dadurch etwas figurbetonter und modischer. Vor allem f&uuml;r schlanke M&auml;nner ist dieser Schnitt optimal geeignet. </p>
      <p><b>Ultra:</b> Diese Hemden haben einen sehr schlanken, k&ouml;rperbetonten Schnitt. Er ist besonders f&uuml;r muskul&ouml;se und schlanke M&auml;nner geeignet, da die K&ouml;rperform stark betont wird. Durch die engen Abn&auml;her am R&uuml;cken, kann diese Passform die Bewegungsfreiheit jedoch etwas einschr&auml;nken. </p>
    </div>
  </div> <!-- /well: hemdenschnitt -->

  <hr class="featurette-divider">

  <div class="well well-lg" id="hemdenkragen">
    <div class="featurette">
      <%= image_tag "front_marketing9.jpg", :class => 'featurette-image pull-left img-circle', :style => 'width:400px; margin:20px;' %>
      <h2 class="featurette-heading">Genau meine <span class="muted">Kragenweite</span></h2>
      <p class="lead">Hemdenkr&auml;gen sind zeitlich variabel und auch Geschmackssache. Dennoch findet sich f&uuml;r Jedermann der richtige Kragen:</p>
    </div>
    <div style="font-size:110%; margin-top:20px;">
      <p><b>Kent- Kragen:</b> Dieser Kragen ist der klassische Hemdkragen. Ihn erkennt man an seiner engen Kragenstellung. Dabei stehen die Kr&auml;gen im rechten Winkel zueinander. Den Kragenknopf kann man selbst unter Krawatten, sowohl offen als auch geschlossen tragen. Zudem sind zu diesem Kragen verschiedenste Krawattenknoten und -formen kombinierbar, sodass er fast f&uuml;r jeden Anlass geeignet ist. Wer sich also bei der Kragenwahl nicht sicher ist, kann mit diesem auf keinen Fall etwas falsch machen.</p>
      <p><b>Haifisch- Kragen:</b> Bei diesem Kragen, stehen die beiden Kr&auml;gen recht weit auseinander und spiegeln den Biss eines Hais wider. F&uuml;r diesen weiten Kragenschnitt empfiehlt sich eine breite Krawatte oder ein eher gr&ouml;&szlig;erer Krawattenknoten. Dieser Kragen ist vor allem f&uuml;r Businness- Anz&uuml;ge geeignet, da dieser in Verbindung mit einer breitere Krawatte recht seri&ouml;s wirken kann. </p>
      <p><b>Button-Down- Kragen:</b> Dieser Kragen ist die sportlichere Variante des Kent- Kragens. Er besitzt in etwa die gleiche Kragenform, jedoch kann man hier die Kragenspitzen mit kleinen Kn&ouml;pfchen am Hemd fest fixieren. Dies gew&auml;hrleistet auch bei k&ouml;rperlicher Bet&auml;tigung einen perfekt sitzenden Kragen.</p>
      <p><b>Tap-Kragen:</b> Da dieser Kragen sehr elegant wirkt, wird er eigentlich immer mit einer Krawatte getragen. Die Kragenspitzen liegen recht eng am Hemd an und fixieren die Krawatte durch eine kleine Schlaufe (Tab) an der hinteren Seite. Dies hat zur Folge, dass die Krawatte nicht verrutschen kann. Damit dieser Kragen am besten zur Geltung kommt, sollte er jedoch nur mit einer schmalen Krawatte oder einem engeren Krawattenknoten getragen werden.</p>
    </div>
  </div><!-- /well: hemdenkragen --> 

  <hr class="featurette-divider">

  <div class="well well-lg" id="hemdenmanschetten">
    <div class="featurette">
      <%= image_tag "front_marketing7.jpg", :class => 'featurette-image pull-right img-circle', :style => 'width:400px; margin:20px;' %>
      <h2 class="featurette-heading">Manschetten. <span class="muted"> Accessoires</span></h2>
      <p class="lead">Unter Manschetten versteht man den &auml;rmelaufschlag bei den Herrenhemden. Hierbei unterscheidet man die Sportmanschetten und die Umschlagmanschetten.</p>
    </div>
    <div style="font-size:110%; margin-top:20px;">
      <p>Unter den <b>Sportmanschetten</b> versteht man Hemden&auml;rmel, bei denen der Knopf bereits angen&auml;ht ist. Dabei k&ouml;nnen ein oder zwei Kn&ouml;pfe befestigt sein, wodurch man die &auml;rmelweite selber bestimmen kann. Da auch bei Sportmanschetten sehr sch&ouml;ne Kn&ouml;pfe, wie zum Beispiel Perlmuttkn&ouml;pfe, verarbeitet werden, kann man diese mittlerweile auch fast zu jedem Anlass tragen.</p>
      <p>Bei der <b>Umschlagmanschette</b> sind nur die Knopfl&ouml;cher vorhanden, die Manschettenkn&ouml;pfe kann man individuell je nach Anlass und Geschmack w&auml;hlen. Somit k&ouml;nnen Sie ihrem Hemd eine pers&ouml;nliche Note geben.</p>
    </div>
  </div> <!-- /well: manschetten -->

</div> <!-- /container marketing -->