<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-mobile pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b class="hidden-xs hidden-sm">
        <%= link_to 'Hemdenpilot', root_path, class: 'navbar-brand pull-right' %>
      </b>
      <h1 class="visible-xs">
        <%= link_to 'Hemdenpilot', root_path, class: 'navbar-brand pull-right', style: 'font-size:20px; margin-top:-20px;' %>
      </h1>
      <h1 class="visible-sm">
        <%= link_to 'Hemdenpilot', root_path, class: 'navbar-brand pull-right', style: 'font-size:24px; margin-top:-20px;' %>
      </h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="margin-bottom:50px;"></div>
